<h3>{{product.name}}</h3>
<div>
  <span {{bind-attr style=style}}></span>
  <aside>
    <b>{{format-number product.price}}</b>
    <button {{action 'addToCart'}}>Add to Cart</button>
  </aside>
</div>
