.cart-details {
  .transition(@duration: 0.4s);
  cursor: pointer;
  width: 320px;
  height: 100%;

  h4 {
    .transition(@duration: 0.4s);
    padding: 15px 0;
    line-height: 60px;

    span {
      vertical-align: middle;
      display: inline-block;
      line-height: 100%;

      &:first-of-type {
        width: 80px;
        text-align: center;
      }

      &:last-of-type {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  &:hover {
    background: white;

    h4 {
      color: @red;
    }
  }

  p {
    .transition;
    width: 80px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
    padding-bottom: 15px;
    transform: translateX(0);
    margin-top: -5px;

    &:before {
      .transition;
      display: block;
      content: 'Total:';
      font-weight: normal;
      margin-bottom: 5px;
      overflow: hidden;
      height: 0;
      font-size: 15px;
    }

    main.cart & {
      transform: translate(65px, 15px);

      &:before {
        height: 1em;
      }
    }
  }
}
